html{
  font-size: 15px;
  height: 100%;
  width: 100%;
}

body {
   background: var(--background);
   -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
  margin: 0;
}

button {
  cursor: pointer;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}